<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.dao.ClickDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cx.entity.Click">
		<id column="id" property="id" />
		<result column="innerId" property="innerId" />
		<result column="outterId" property="outterId" />
		<result column="type" property="type" />
		<result column="click" property="click" />
	</resultMap>

</mapper>
