.head-wrap{
	width: 100%;
	height: 2.5833rem;
	position: relative;
	padding-left: 0.9166rem;
	padding-right: 0.9166rem;
	border-bottom: 1px solid #dcdcdc;
}
.head-img1{
	display: block;
	width: 0.8333rem;
	height: 1.5416rem;
	margin-right: 0.625rem;
}
.head-img2{
	display: block;
	width: 1.625rem;
	height: 1.625rem;
	position: absolute;
	top: 0.479rem;
	right: 1rem;
}
.head-wrap span{
	font-size: 1.5416rem;
	line-height: 2.5833rem;
	color: #3d94ff;
}
.content-wrap{
	width: 100%;
	padding: 2.1666rem 1.5416rem 1.5416rem 1.5416rem;
}
.content-title {
	align-items:flex-end;
}
.content-img1{
	display: block;
	width: 11.7916rem;
	height: 16.6666rem;
	box-shadow: 1px  #000000;
}
.content-section{
	margin-left: 1rem;
	line-height: 1.5;
	padding-bottom: 0.6rem;
}
.content-section p:nth-child(1){
	font-size: 1.25rem;
	color: #000000;
	font-weight: 900;
	margin-bottom: 0.75rem;
	-webkit-line-clamp:2;
}
.content-section p:nth-child(2){
	font-size: 1rem;
	color: #000;
	margin-bottom: 0.75rem;
	-webkit-line-clamp:1;
}
.content-section p:nth-child(3){
	font-size: 1rem;
	color: #000;
	margin-bottom: 1.666666rem;
	-webkit-line-clamp:1;
}
.content-section img{
	display: block;
	width: 11.5833rem;
	height: 2.9166rem;
	margin-left:-0.26rem;
}
.content-love{
	margin-top:1.666666rem;
}
.content-love span{
	font-size:0.75rem;
	color:#000;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	display: inline-block;
}
.content-love .icon{
	display: inline-block;
	vertical-align: middle;
	width:1.583333rem;
	height:1.416666rem;
	background: url(../image/icon_love.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 0.625rem;
	overflow: hidden;
}
.content-love-cur .icon{
	background: url(../image/icon_love_cur.png) no-repeat;
	background-size: 100% 100%;
}
@media screen and (min-width:320px) and (max-width:345px) {
.content-img1{
	display: block;
	width: 7.7916rem;
	height: 11.6666rem;
}
.content-section{
	height: 11.5rem;
}
.content-section img{
	display: block;
	width: 9.5833rem;
	height: 2.9166rem;
}
.content-section p:nth-child(1){
	font-size: 1.25rem;
	color: #000000;
	font-weight: 900;
	margin-bottom: 0.8rem;
}
.content-section p:nth-child(2){
	font-size: 1rem;
	color: #000;
	margin-bottom: 0.8rem;
}
.content-section p:nth-child(3){
	font-size: 1rem;
	color: #000;
	margin-bottom: 0.8rem;
}
}
.content{
	margin-top: 1.0833rem;
}
.content p:nth-child(1){
	font-size: 1.25rem;
	color: #000;
	margin-bottom: 0.7916rem;
}
.content p:nth-child(2){
	display: block;
	width: 100%;
	font-size: 0.8333rem;
	color: #313131;
	line-height: 1.5rem;
	overflow: hidden;
	margin-bottom: 1.4583rem;
}
.mask{
	width:100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	background: rgba(0,0,0,.2);
	display: none;
}
.content-pop{
	position: fixed;
	top:40%;
	left: 12%;
	width:76%;
	margin-top:-6.25rem;
	padding:2.291666rem 0.833333rem 2.083333rem;
	text-align: center;
	min-height: 13.75rem;
	background: #FFF;
	border-radius: 0.833333rem;
	display: none;
}
.content-pop h2{
	font-size:1.5rem;	
}
.content-pop .aside{
	font-size:1rem;
	line-height:1.5;
	margin-top:1.458333rem;
}
.content-pop .btn_con{
	margin-top:2.916666rem;
}
.content-pop .btn{
	width:7.041666rem;
	height: 2.083333rem;
	line-height: 2.083333rem;
	text-align: center;
	background: #eee;
	border:1px solid #a0a0a0;
	border-radius: 0.416666rem;
	margin:0 0.958333rem;
	font-size:1rem;
	display:inline-block;
	vertical-align: top;
}
.nov-wrap {
	width: 100%;
	padding-bottom: 1rem;
	border-top: 1px solid #dcdcdc;
}

.nov-title {
	width: 100%;
	height: 2.25rem;
	padding-left:1.5416rem;
	padding-right: 1.5416rem;
}

.nov-title span {
	line-height: 2.25rem;
	font-size: 1.125rem;
	color: #000000;
}

.nov-title div {
	line-height: 2.25rem;
	font-size: 0.7916rem;
	color: #000000;
}

.nov-title img {
	display: block;
	width: 0.625rem;
	height: 1rem;
	margin: 0.625rem 0 0.625rem 0.3333rem;
}

.nov {
	width: 100%;
	padding-left: 1.1666rem;
	padding-right: 1.1666rem;
	padding-top: 0.4166rem;
}

.nov-section {
	width: 33%;
	height: 9.7083rem;
}

.nov-section img {
	display: block;
	width: 6.2916rem;
	height: 8.2083rem;
	margin: 0 auto;
	margin-bottom: 0.4166rem;
}

.nov-section center {
	font-size: 0.5833rem;
	color: #000000;
}
